/* Tabs Style */
ul#tabs li a { 
	padding: 1em;
}
ul#tabs li a:hover { 
	background-color: #f1f0ee; 
}
div.tabContent.hide { 
	display: none;
}
.mygridthing{
	width: 100%;
	float: left;
	padding: 0em;
	margin: 0 0 0 0.54%;
	line-height: 0px;
}
.mygridthing img{
	float: left;
	padding: 0px;
	margin: 0px;
}
.maparea{
	width: 600px;
	height: 600px;
	background: #ddd;
	width: 100%;
	float: left;
	padding: 0em;
	margin: 0 0 0 1.4%;
}
div#tipDiv {
    font-size:11px; 
	line-height:1.2;
    color:#000; 
	background-color:#E1E5F1; 
    border:1px solid #667295; 
	padding:4px; 
    width:210px;
}